
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(http://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://fonts.gstatic.com/s/montserrat/v6/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
input[type="submit"] {
  -webkit-appearance: none;
}
html{    
	background:url(../image/back.jpg) no-repeat;
	padding-bottom:30px;
}
.login-logo{

	width:85%;
	margin:5% auto 0 auto;
	text-align:center;
}
#feedback-page{
	text-align:center;
}



#form-div {
	background-color:rgba(72,72,72,0.4);
	
	padding-top:15px;
	padding-bottom:15px;
	
	position: absolute;
 	margin-top:30px;
	
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

	left: 3%;
	margin-right: 3%;
	width: 88%;
	margin-left: 0;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom:30px;
}
#hikidashi-div {
	background-color:rgba(72,72,72,0.4);
	
	padding-top:15px;
	padding-bottom:15px;
	
	position: absolute;
 	margin-top:20%;
	
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;

	left: 3%;
	margin-right: 3%;
	width: 88%;
	margin-left: 0;
	padding-left: 3%;
	padding-right: 3%;
	margin-bottom:30px;
}


/* Icons ---------------------------------- */

#button-blue{
	
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	
	width:100%;
	border: #fbfbfb solid 2px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:20px;
	padding-top:15px;
	padding-bottom:15px;
	border-radius:5px;
	margin-top:20px;
	margin-bottom:10px;
	font-weight:bold;
}

#button-blue:hover{
	background-color: #3ea7ed;
}

p.newRg{
	text-align:right;
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	color:#fff;
	font-size:16px;
	padding:0;
	margin:0;

}	
p.newRg a:visited,a:link{
	color:#fff;
}
span.etext{
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	color:#F36;
	font-size:13px;
	margin-left:5px;
	text-shadow: 0.3px 0.3px 0.3px #333;  
	float:right;

}
table{
	width:100%;
	
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	color:#fff;
}
td{
	width:100%;
	
}
td input.intex{
	width:96%;
	padding:10px 2%;
	font-size:20px;
}

input[type="radio"] {
    position: relative;
    -webkit-appearance: button;
    appearance: button;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    content: "";
    background-color: #FFFFFF;
    border: 1px solid #999999;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -webkit-box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2);
    box-shadow: inset 4px 4px 10px rgba(0,0,0,0.2);
    vertical-align: middle;
    cursor: pointer;
    
    
}

input[type="radio"]:checked:after {
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    content: "";
    width: 12px;
    height: 12px;
    background: #3498db;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.kind{
	margin-left:15px;
}
.back{
	
	margin-top: -5px;
	margin-bottom: -45px;
	padding: 10px;
	font-weight: bold;
	width: 25px;

}
.back img{
	width: 100%;
}

.sheet_title{
	font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 28px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.saving{
	width:100%;
	font-family:Avenir , Open Sans , Helvetica Neue , Helvetica , Arial , Verdana , Roboto , 游ゴシック , Yu Gothic , 游ゴシック体 , YuGothic , ヒラギノ角ゴ Pro W3 , Hiragino Kaku Gothic Pro , Meiryo UI , メイリオ , Meiryo , ＭＳ Ｐゴシック , MS PGothic , sans-serif;    font-size: 20px;
    
	
	
}

.savemoney{
	text-align:center;
	font-size:50px;
	color:#fff;
	margin:3% auto 0 auto;
}
